body {
  font-family: 'Nature Spirit', sans-serif;
  color: #363c2a;
  background-color: #feefe5;
}

a {
  text-decoration: none;
}

p {
  font-family: 'Avenir Next Condensed', sans-serif;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.navbar {
  background-color: #fa8575;
  padding: 1em;
}
